/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --accent-color: #FF0070;
  --accent-color-subtitle: #FF0070;
  --subtitle-color: #000028;
  --accent-color-subtitle: #FF0070;
  --text-font: 'IBM Plex mono', 'serif';
  --title-color: #DB00FF;
  --bg-image: url(../images/cover-image-dark.png);
  --text-size: 18px;
  --color-text: #F1B2CE;
  --decor-none: visible;
}